<div class="score-fight-s"></div>
<div class="score-container">
  <h1 class="h1-page">SCORES</h1>
  <div class="score-b">
    <div class="player-block-score"><img src="images/goro.jpeg" class="img-choose">
      <div class="player-info-choose">
        <div class="info-choose">Name:</div>
        <div class="info-choose">Goro</div>
      </div>
      <div class="player-info-choose">
        <div class="info-choose">Life:</div>
        <div class="info-choose">12</div>
      </div>
      <div class="player-info-choose">
        <div class="info-choose">Attack</div>
        <div class="info-choose">9</div>
      </div>
    </div>
    <div class="thin-line"></div>
    <div class="player-block"><img src="images/goro.jpeg" class="img-choose">
      <div class="player-info-choose">
        <div class="info-choose">Name:</div>
        <div class="info-choose">Goro</div>
      </div>
      <div class="player-info-choose">
        <div class="info-choose">Life:</div>
        <div class="info-choose">12</div>
      </div>
      <div class="player-info-choose">
        <div class="info-choose">Attack</div>
        <div class="info-choose">9</div>
      </div>
    </div>
  </div>
<div class="sub-title">
  <%=link_to "New Fight!", new_fight_path,  class: "button w-button" %>
<div>