/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 
@import "normalize.css";
@import "webflow.css";
@import "bootstrap";
@import "kaptain.webflow.css";

@font-face {
  font-family: 'Mk4';
  src: url('MK4.TTF') format('undefined');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Badabb ';
  src: url('BADABB__.TTF') format('undefined');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mk2';
  src: url('mk2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mk1';
  src: url('mk1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mkda';
  src: url('mkda.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mkmyth';
  src: url('mkmyth.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mk5style';
  src: url('mk5style.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fightkid';
  src: url('fightkid.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Dnk';
  src: url('dnk.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}