h1,h2,h3{
  color: white;
}

a:hover { text-decoration: none !important; }
.nav-links:hover { text-decoration: none !important; }

.arena-section {
  height: 100vh;
  width: 100%;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 85px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #be0000;
  background-image: -webkit-linear-gradient(270deg, #4d0404, #ba0e1b 26%, #ba0e1b 77%, #5c0707);
  background-image: linear-gradient(180deg, #4d0404, #ba0e1b 26%, #ba0e1b 77%, #5c0707);
}

.navlink {
  -webkit-transition: font-size 200ms ease;
  transition: font-size 200ms ease;
  font-family: Mk2, sans-serif;
  color: #fff500;
  font-size: 23px;
}

.navlink:hover {
  font-size: 25px;
  text-decoration: none;
}

.brand {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Mk2, sans-serif;
  color: #fef336;
  font-size: 46px;
  font-weight: 400;
}

.arena-container {
  height: 100vh;
  background-image: url('arena.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.nav-battle-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-nb-player {
  width: 50%;
  height: 100px;
}

.info-nb-player._2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 15px;
  float: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-left: 2px solid #fff;
}

.info-nb-player._1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 15px;
  border-right: 2px solid #fff;
}

.heading {
  width: 175px;
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
}

.heading.right {
  text-align: right;
}

.player-name {
  height: 45px;
  margin-top: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

.player2-name {
  height: 45px;
  margin-top: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

.nav-battle-info-life {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.life-bars {
  height: 45px;
  margin-top: 0px;
  font-family: Mk1, sans-serif;
  color: #fef336;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.fight-zone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  height: 600px;
  margin-top: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.player2 {
  position: relative;
  bottom: -220px;
  left: 20%;
}

.player1 {
  position: relative;
  bottom: -220px;
  right: 20%;
}
audio {display:none;}

.messages {
  position: fixed;
  left: 0px;
  top: 27vh;
  right: 0px;
  bottom: 0px;
}

.text-block {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: Mk2, sans-serif;
  color: #bc0711;
  font-size: 146px;
  line-height: 117px;
  text-align: center;
  text-shadow: -7px 0 0 #fef336;
}

.new-fight-s {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  padding-top: 42px;
  background-image: url('arena.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.h1-page {
  display: block;
  margin: 48px auto;
  font-family: Mk2, sans-serif;
  color: #ba0e1b;
  font-size: 115px;
  text-align: center;
  text-shadow: 0 2px 0 #fef336;
}

.players-row {
  margin-top: 44px;
}

.player-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.player-block.weapon {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgba(186, 14, 27, .4);
}

.player-block.weapon:hover {
  background-color: rgba(76, 186, 14, .24);
}

.img-choose {
  -webkit-transition: -webkit-transform 308ms ease;
  transition: -webkit-transform 308ms ease;
  transition: transform 308ms ease;
  transition: transform 308ms ease, -webkit-transform 308ms ease;
}

.img-choose:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.player-info-choose {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  height: 27px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
}

.info-choose {
  height: 13px;
  margin-top: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 23px;
  line-height: 34px;
  font-weight: 400;
}

.player-attack {
  height: 45px;
  margin-top: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
}

.life-choose {
  height: 45px;
  margin-top: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
}

.attack-choose {
  height: 45px;
  margin-top: 0px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
}

.sub-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.choose-container {
  position: relative;
  padding-bottom: 200px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 90%;
  height: auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  border: 2px solid #fef336;
  background-color: rgba(0, 0, 0, .31);
  box-shadow: 0 0 0 4px #ba0e1b;
}

.h2-new-fight {
  height: 45px;
  margin-top: 90px;
  margin-bottom: 75px;
  font-family: Mkda, sans-serif;
  color: #fff;
  font-size: 78px;
  text-align: center;
}

.h2-new-fight.right {
  text-align: right;
}

.weapon-row {
  margin-top: 44px;
}

.button {
  display: block;
  width: 296px;
  margin: 27px auto;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 7px solid #000;
  background-color: rgba(186, 14, 27, .77);
  font-family: Mk2, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 38px;
  text-align: center;
}

.button:hover {
  border-color: #fef336;
}